.helloContainer {
  /* height: 100%; */
  width: 50%;
}

.helloContainer.expanded {
  width: 100%;
}

.helloString {
  margin-top: 0;
}

.caret {
  animation: blink 0.5s step-end infinite alternate;
  /* animation: typing 2s steps(22), blink 0.5s step-end infinite alternate; */
   
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    color: transparent;
  }
}
