.helloContainer {
  /* height: 100%; */
  width: 50%;
  /* margin-top: auto; */
  transition: margin-top 0.3s ease-in-out;
}

.helloContainer.expanded {
  /* margin-top: 100%; */
  transition: margin-top 0.3s ease-in-out;
  margin-top: calc(5rem + (9 / 16) * 100%);

  width: 100%;
}

.helloString {
  margin-top: 0;
}

.caret {
  animation: blink 0.5s step-end infinite alternate;
  /* animation: typing 2s steps(22), blink 0.5s step-end infinite alternate; */
   
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    color: transparent;
  }
}
