.projectsContainer {
   position: relative;
   height: max-content;
   width: 100%;
}

.projectsCardsContainer {
   position: relative;
   width: 100%;
   height: max-content;
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
   overflow-x: auto;
   gap: 1rem;
   scrollbar-color: #444444 transparent;
}

.projectCardContainer {
   position: relative;
   width: clamp(20rem, 30%, 90%);
   display: flex;
   flex-direction: column;
   border: 1px solid #444444;
   border-radius: 0.5rem;
   padding: 1rem;
   gap: 1rem;
   /* flex-shrink: 0; */
}

.projectCardContainer * {
   margin: 0;
}

.projectCardDescription {
   text-align: justify;
}

.projectCardLinks {
   display: flex;
   justify-content: space-between;
   /* text-decoration: none; */
   /* padding: 0.5rem 0; */
}

.projectCardButton {
   background-color: #24292f;
   color: #ffffff;
   border: 1px solid #444444;
   border-radius: 0.5rem;
   padding: 0.5rem 0.75rem;
}

.projectCardButtonLink {
   text-decoration: none;
   color: inherit;
}

.projectCardTechStackWrapper {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
}
.projectCardTechStackItem {
   border: 1px solid #444444;
   border-radius: 0.5rem;
   padding: 0.25rem 0.5rem;
}