:root {
  color-scheme: dark;
  /* background-color: #141414; */
}

.app {
  
  width: min(50%, 60rem);
  height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px;
}

.mainContentContainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titleMain {
  font-size: 3rem;
  line-height: 1;
  height: 3rem;
  /* margin: 0 auto; */
}

.titleSecondary {
  font-size: 2rem;
  line-height: 1;
  height: 2rem;
  /* margin: 0 auto; */
}

.textMain {
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1.5;
  margin: 1rem auto;
  /* height: 3rem; */
  /* margin: 0 auto; */
}