:root {
  color-scheme: dark;
  /* background-color: #141414; */
}

.app {
  position: relative;
  /* width: clamp(50%, 70rem, 90%); */
  width: 80rem;
  min-height: 100vh;
  margin: 5rem auto;
  padding: 24px;
}

.mainContentContainer {
  margin: 5rem auto;
  width: 100%;
}

.flexRowContentContainer, .flexColumnContentContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* margin-bottom: calc(5rem + 56.25%); */
  width: 100%;
  transition: all 0.3s ease-in-out;
  
}

.flexRowContentContainer {
  flex-direction: row;
  /* margin-bottom: calc((9 / 16) * 40%); */
  margin-bottom: 15rem;
}

.flexColumnContentContainer {
  flex-direction: column;
  margin-bottom: calc(5rem + (9 / 16) * 100%);
}

.titleMain {
  font-size: 3rem;
  line-height: 1;
  height: 3rem;
  /* margin: 0 auto; */
}

.titleSecondary {
  font-size: 2rem;
  line-height: 1;
  height: 2rem;
  /* margin: 0 auto; */
}

.textMain {
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1.5;
  margin: 1rem auto;
  /* height: 3rem; */
  /* margin: 0 auto; */
}

.textSecondary {
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1;
  margin: 1rem auto;
}